<div class="container pickuprequest-index" style="min-height: 800px;">
	<div class="row">
		<div class="col-sm-12">	
			<h1>Pickup Requests Index</h1><br><br><br>
			<table>
				<colgroup>
			       <col span="1" style="width: 15%;">
			       <col span="1" style="width: 20%;">
			       <col span="1" style="width: 30%;">
			       <col span="1" style="width: 10%;">
			       <col span="1" style="width: 25%;">
			    </colgroup>
				<tr>
					<th>Request Number</th>
					<th>Name</th>
					<th>Address</th>
					<th>Weight</th>
					<th>Issued</th>
				</tr>

				<% Pickuprequest.all.order("updated_at desc").each do |request| %>				
					<tr>
						<td><%= request.id %>&ensp;<%= link_to "[ X ]", request, method: :delete,
                                     data: { confirm: "You sure?" }, title: 'Delete!' %></td>
						<td><%= request.name %></td>
						<td><a target="_blank" href="https://www.google.com/maps/place/<%= request.address %>"><%= request.address %></a></td>
						<td><%= request.weight %></td>
						<td><%= request.updated_at.time.to_formatted_s(:long)  %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
